@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

.popularBrandContainer {
  width: 100%;
  height: 635px;
  margin: 0 auto;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
  header {
    display: flex;
    justify-content: center;
    height: 55px;
    margin-bottom: 25px;

    .title {
      h2 {
        font-size: 46px;
        font-weight: 700;
      }
    }
    .carouselBtn {
      display: flex;
      justify-content: flex-end;
      .prevBtn {
        width: 30px;
      }
      .nextBtn {
        width: 30px;
        margin-left: 40px;
      }
    }
  }
  .carousel {
    // width: 856px;
    .brandItem {
      .brandImgBox {
        display: flex;
        justify-content: center;
        overflow: hidden;
        // width: 890px;
        height: 500px;
        padding: 0 10px;
        .brandItemImg {
          width: 100%;
          // height: 100%;
          &:hover {
            transform: scale(1.1);
            transition: transform 0.5s ease;
            cursor: pointer;
          }
        }
      }
      .brandItemDescBox {
        display: flex;
        justify-content: center;

        .brandItemDesc {
          position: absolute;
          bottom: 30px;
          // margin-left: 350px;
          color: white;
          .brandName {
            font-size: 24px;
            font-weight: 700;
          }
          .brandProductCnt {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    button {
      width: 230px;
      height: 70px;
      border-radius: 60px;
      border: none;
      &:hover {
        // background-color: white;
        opacity: 0.5;
        cursor: pointer;
      }
      span {
        font-size: 22px;
        font-weight: 700;
      }
    }
  }
}
