@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

.popularBrand {
  width: 100%;
  height: 635px;
  margin: 0 auto;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";

  header {
    display: flex;
    justify-content: center;
    height: 55px;
    margin-bottom: 25px;

    .title {
      position: relative;
      width: 800px;
      text-align: center;

      h2 {
        font-size: 36px;
        font-weight: 700;
      }

      .carouselBtn {
        position: absolute;
        top: 0px;
        right: 0px;

        &:hover {
          cursor: pointer;
        }

        .prevBtn {
          width: 20px;
        }

        .nextBtn {
          width: 20px;
          margin-left: 40px;
        }
      }
    }
  }
  .carousel {
    .brandItem {
      .brandImgBox {
        display: flex;
        justify-content: center;
        height: 400px;
        overflow: hidden;
        padding: 0 10px;

        .brandItemImg {
          width: 100%;
          border-radius: 10px;

          &:hover {
            transform: scale(1.1);
            transition: transform 0.5s ease;
            cursor: pointer;
          }
        }
      }
      .brandItemDescBox {
        display: flex;
        justify-content: center;

        .brandItemDesc {
          position: absolute;
          bottom: 30px;
          color: white;

          .brandName {
            font-size: 24px;
            font-weight: 700;
          }

          .brandProductCnt {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    button {
      width: 213px;
      height: 55px;
      padding: 0 30px;
      border-radius: 30px;
      border: none;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }

      span {
        color: #26282b;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
