@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.Login {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url(./images/loginbackground.jpg);
  background-size: cover;

  .main {
    font-size: 62.5%; //10px = 1rem
    width: 600px;
    height: 400px;
    padding: 20px 10px 0 10px;
    border: 0px solid black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: "Spoqa Han Sans";

    header {
      width: 100%;
      height: 92px;
      text-align: center;

      .section-logo {
        font-size: 40px;
        font-weight: 600;
        font-family: "Spoqa Han Sans";
      }

      .section-sign {
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0;
        color: #72787f;
      }
    }
    .section {
      & {
        display: flex;
        justify-content: center;
        margin: 10px 0;
      }

      .login-information {
        width: 280px;
        height: 224px;

        .id {
          width: 260px;
          height: 40px;
          border-radius: 0.5rem;
          font-size: 14px;
          text-indent: 0.5rem;
          border: 1px solid #c9cdd2;
        }
        .forget-id {
          width: 250px;
          font-size: 12px;
          margin: 13px 0 14px 7px;
          text-align: right;
          color: #72787f;
        }
        .password {
          width: 260px;
          height: 40px;
          border-radius: 0.5rem;
          font-size: 14px;
          text-indent: 0.5rem;
          border: 1px solid #c9cdd2;
        }
        .forget-password {
          width: 250px;
          font-size: 12px;
          margin: 13px 0 14px 7px;
          text-align: right;
          color: #72787f;
        }
        .login-button {
          width: 156px;
          height: 40px;
          background-color: #4adaaf;
          border-radius: 0.5rem;
          margin-left: 105px;
          color: white;
          font-size: 14px;
          font-weight: 700;
          border: 0px solid black;
        }
      }
      .social-login {
        width: 278px;
        height: 200px;
        padding-left: 25px;

        .facebook-signin {
          width: 240px;
          height: 39px;
          border: 0px solid white;
          margin-bottom: 16px;
          font-size: 16px;
          border-radius: 0.5rem;
        }
        .twitter-signin {
          width: 240px;
          height: 37px;
          border: 0px solid white;
          margin-bottom: 16px;
          border-radius: 0.5rem;
        }
        .google-signin {
          width: 240px;
          height: 37px;
          border: 0px solid white;
          margin-bottom: 16px;
          border-radius: 0.5rem;
        }
        .kakao-signin {
          width: 240px;
          height: 37px;
          border: 0px solid white;
          border-radius: 0.5rem;
        }
      }
    }
    .login-link {
      & {
        display: flex;
        justify-content: center;
      }
      & p {
        font-size: 14px;
        font-weight: 700;
        margin-right: 10px;
        text-align: right;
      }
      & a {
        font-size: 14px;
        font-weight: 700;
        margin-left: 10px;
        text-align: left;
        color: #9ea4aa;
      }
    }
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 0 15px 0rem;
    height: 20px;
    width: 600px;
    text-align: right;
    span {
      margin-right: 20px;
      font-size: 14px;
      color: #ffffff;
      font-family: "Spoqa Han Sans";
      font-weight: 600;
    }
  }
}
