@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

.cart {
  margin-top: 158px;
  font-family: "Helvetica", "Arial", "Spoqa Han Sans JP", "Sans-serif";
  .container {
    margin: 0 auto;
    width: 1160px;
    height: 760px;

    .headContainer {
      display: flex;
      width: 100%;
      height: 80px;

      border-bottom: 1px solid lightgrey;
      .title {
        display: flex;
        width: 75%;
        margin-top: 10px;
        h2 {
          font-size: 40px;
          font-weight: 700;
        }
      }
      .process {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%;
        font-size: 20px;
        font-weight: 900;
        span:nth-child(1) {
          color: #00c1a3;
        }
        span:nth-child(2) {
          color: #c9cdd2;
        }
      }
    }
    .mainContainer {
      display: flex;

      .cartContainer {
        width: 75%;
        height: 500px;

        .header {
          display: flex;
          align-items: center;
          height: 10%;

          .headerLeft {
            width: 20%;
            display: flex;
            align-items: center;

            input {
              width: 20px;
              height: 20px;
              border: 1px solid #c9cdd2;
              color: #26282b;
              margin: 0 15px;
              cursor: pointer;
            }
            span {
              font-size: 16px;
              color: #26282b;
              padding-top: 2px;
              cursor: pointer;
            }
          }
          .headerRight {
            width: 80%;
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            button {
              width: 68px;
              height: 26px;
              background-color: white;
              border: 1px solid #00d0b1;
              border-radius: 3px;
              color: #00d0b1;
              cursor: pointer;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }
        table {
          height: 90%;
        }
      }
      .asideContainer {
        width: 25%;
        .priceContainer {
          width: 100%;
          height: 180px;
          border: 4px solid #00d0b1;
          .totalPrice,
          .deliveryFee,
          .discountPrice,
          .totalPayPrice {
            width: 80%;
            margin: 10px auto 20px auto;
          }
          span:nth-child(1) {
            justify-content: flex-start;
            font-weight: 700;
            font-size: 13px;
          }
          span:nth-child(2) {
            justify-content: flex-end;
            font-size: 14px;
            float: right;
          }
          .totalPayPrice {
            margin-top: 25px;
            padding-top: 15px;
            color: #00d0b1;
            font-size: 16px;
            font-weight: 700;
            border-top: 1px solid lightgrey;
          }
        }
        .shoppingMore {
          width: 100%;
          height: 50px;
          margin-top: 15px;
          background-color: white;
          color: #00d0b1;
          border: 2px solid #00d0b1;
          font-size: 14px;
          font-weight: 900;
          border-radius: 5px;
        }
      }
    }
  }
  .footer {
    width: 1160px;
    height: 760px;
    margin: 0 auto;
    .footerContainer {
      .top {
        display: flex;
        width: 100%;
        height: 50%;

        .topLeft {
          width: 40%;

          p:nth-child(1) {
            font-size: 14px;
            font-weight: 700;
            color: #454c53;
            margin: 5px 0;
          }
          p:nth-child(2) {
            color: #26282b;
            font-size: 40px;
            font-weight: 900;
            margin: 10px 0;
          }
          span:nth-child(3) {
            color: #26282b;
            font-size: 14px;
            font-weight: 700;
          }
          span:nth-child(4) {
            color: #26282b;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .topCenter {
          width: 20%;
          .title {
            font-size: 14px;
            font-weight: 700;
            color: #454c53;
            margin: 5px 0 10px 0;
          }
          .descList {
            font-size: 14px;
            a {
              color: #454c53;
              text-decoration-color: #454c53;
              //   margin: 4px 0px 3px 0px;
            }
          }
        }
        .topRight {
          width: 20%;

          p {
            font-size: 14px;
            font-weight: 700;
            color: #454c53;
            margin: 5px 0 10px 0;
          }
        }
      }
      .middle {
        height: 25%;
        background-color: #f2f2f2;
        font-size: 14px;
        text-align: center;
        padding: 20px 20px 18px 20px;
        margin-top: 25px;
      }
      .bottom {
        height: 25%;
        margin-top: 15px;
        img {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
