table {
  width: 98%;
  height: 90%;
  border: 1px solid #e8ebed;
  border-collapse: collapse;
  th,
  th {
    height: 30px;
    align-self: center;
    vertical-align: middle;
    background-color: #f7f8f9;
    color: #454c53;
    font-size: 12px;
    border: 1px solid #e8ebed;
  }
  .orderProduct {
    width: 500px;
  }
  .width96 {
    width: 96px;
  }
  td {
    border: 1px solid #e8ebed;
    height: 147px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }
}
