@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

.popularProduct {
  width: 1240px;
  height: 600px;
  margin: 100px auto;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";

  .title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;

    h2 {
      margin-top: 0px;
      font-size: 46px;
      font-weight: 700;
    }
  }
  .catergories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    .categoryList {
      display: flex;
      font-size: 24px;
      font-weight: 700;
      justify-content: flex-end;
      li {
        margin: 0 10px;
        color: #9ea4aa;
        opacity: 0.7;
        &:hover {
          cursor: pointer;
        }
        &:hover:not(.active) {
          color: grey;
        }
      }
      .active {
        margin: 0 10px;
        color: black;
        opacity: 1;
      }
    }
  }

  .popularFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    button {
      width: 230px;
      height: 70px;
      border-radius: 60px;
      border: none;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }

      span {
        font-size: 22px;
        font-weight: 700;
      }
    }
  }
}
