* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
%borderBox {
  height: 34px;
  width: 42px;
  border: 1px solid #c9cdd2;
  cursor: pointer;
  transform: none;
  transition: all 0s ease 0s;
  background-color: #ffffff;
  color: #72787f;
  line-height: 18.2px;
  text-decoration: none solid rgb(114, 120, 127);
  text-align: center;
  vertical-align: middle;
  word-spacing: 0px;
}

html {
  body {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .modalWrapper {
      position: fixed;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);

      .innerWrapper {
        display: flex;
        width: 960px;
        max-height: 800px;
        // height: 100%;
        transform: translate(45%, 8%);
        background: #ffffff;
        color: #454c53;
        padding: 0;
        margin-top: 0;
        border: 0px solid #e8ebed;
        border-radius: 6px;

        .leftWrapper {
          width: 600px;
          height: 100%;
          border-right: 1px solid #e8ebed;

          .imgWrapper {
            width: 600px;
            height: 680px;
            .image {
              width: 600px;
              height: 600px;
              border: 1px solid #e8ebed;
              border-top-left-radius: 6px;
            }

            .smallImages {
              display: flex;
              justify-content: center;
              width: 600px;
              height: 78px;
              padding: 15px 0 15px 0;

              .displayNone {
                display: none;
              }

              .smallImagesWrapper {
                width: 48px;
                height: 48px;
                margin-left: 6px;
                overflow: hidden;
              }

              .smallImage {
                width: 44px;
                height: 44px;
                border: 0px solid #e8ebed;
                border-radius: 6px;
              }
            }
          }
        }
        .rightWrapper {
          width: 315px;
          justify-content: center;
          padding: 20px 15px 15px 20px;

          .information {
            width: 315px;
            border: 1px solid #e8ebed;
            border-radius: 6px;
            padding: 12px;
            font-size: 16px;
            line-height: 20.8px;
            text-align: left;

            .commentData {
              display: flex;

              // .authorInfomationWrapper {
              //   width: 289px;
              //   padding-bottom: 15px;
              //   display: flex;

              .commentUserImgWrapper {
                width: 40px;
                height: 40px;
                margin-right: 8px;

                .commentUserImg {
                  border: 0px solid #ffffff;
                  border-radius: 50%;
                  cursor: pointer;
                }
              }

              .authorInformation {
                // height: 33px;
                display: inline;
                font-size: 14px;
                font-weight: 700;
                line-height: 18.2px;
                text-align: left;
                white-space: nowrap;
                word-spacing: 0px;
                overflow: hidden;
                margin-right: 10px;

                .author {
                  height: 18px;
                  margin: 0 4px 0 0;
                  max-width: 170px;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 18.2px;
                  text-decoration: none solid rgb(69, 76, 83);
                  text-align: left;
                  white-space: nowrap;
                  word-spacing: 0px;
                  cursor: pointer;
                }

                .introduction {
                  font-size: 12px;
                  max-width: 190px;
                  color: #9ea4aa;
                }
              }

              .followBtnBox {
                height: 34px;
                width: 42px;
                border: 1px solid #1ab380;
                border-radius: 6px;
                margin: 3px 0 0 10px;

                .followBtn {
                  height: 100%;
                  width: 100%;
                  color: #1ab380;
                  cursor: pointer;
                }

                .followBtnActive {
                  height: 100%;
                  width: 100%;
                  color: #ffffff;
                  background-color: #1ab380;
                  cursor: pointer;
                }
              }
            }

            .authorDescription {
              font-size: 14px;
              display: inline-flex;
              line-height: 16.9px;
              text-decoration: none solid rgb(38, 40, 43);
              text-align: left;
              white-space: pre-wrap;
              word-spacing: 0px;
            }
          }
          .authorPopularity {
            width: 315px;
            display: flex;
            // height: 34px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #c9cdd2;

            .likeBox {
              @extend %borderBox;
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;

              .like {
                width: 83%;
                height: 83%;
                padding-top: 6px;
              }
            }

            .likeNumBox {
              @extend %borderBox;
              border-top-right-radius: 6px;
              border-bottom-right-radius: 6px;
              font-size: 18px;
              font-weight: 700;
              padding-top: 5px;
            }

            .shareBox {
              @extend %borderBox;
              border-radius: 6px;
              margin-left: 8px;

              .share {
                width: 83%;
                height: 83%;
                padding-top: 6px;
              }
            }

            .optionBox {
              @extend %borderBox;
              border: 0px solid white;
              font-size: 20px;
              margin-left: 155px;

              .option {
                width: 83%;
                height: 83%;
                padding-top: 6px;
              }
            }
          }

          .commentWrapper {
            width: 315px;
            overflow: hidden;
            max-height: 533px;

            .commentFixedWrapper {
              display: flex;
            }

            .commentData {
              display: flex;
              // .commentNone {
              //   display: none;
              // }
              overflow: hidden;

              .commentUserImgWrapper {
                width: 30px;
                height: 30px;
                border-radius: 50%;

                .commentUserImg {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  transform: none;
                  transition: all 0s ease 0s;
                  border-radius: 50%;
                }
              }

              .commentUserInfo {
                display: flex;
                .commentContentWrapper {
                  display: flex;
                  .commentUser {
                    display: flex;
                  }

                  .commentContent {
                    display: flex;
                  }
                }

                .commentBtnWrapper {
                  display: flex;
                  .commentDate {
                  }

                  .commentBtn {
                    cursor: pointer;
                  }
                }
              }
            }

            .commentNum {
              // height: 18px;
              width: 315px;
              margin: 10px 0 10px 0;
              font-size: 15px;
              font-weight: 700;
              line-height: 18.2px;
              text-decoration: none solid rgb(114, 120, 127);
              text-align: left;
              word-spacing: 0px;
            }

            .inputWrapper {
              width: 315px;
              border-top: 1px solid #c9cdd2;
              font-size: 22px;
              line-height: 16px;
              text-decoration: none solid rgb(38, 40, 43);
              text-align: left;
              word-spacing: 0px;
              color: #26282b;
              cursor: default;

              input {
                width: 315px;
                height: 43px;
                border: 1px solid #c9cdd2;
                border-radius: 6px;
                padding: 10px 10px 10px 10px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
