@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

.trend {
  width: 90%;
  height: auto;
  margin: 150px auto 0px auto;

  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    h2 {
      font-size: 36px;
      font-weight: 900;
    }
  }
  .trendContainer {
    display: flex;
    height: auto;

    .leftContainer {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-right: 40px;
    }
    .rightContainer {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      padding-left: 40px;
    }
  }

  .item {
    margin-bottom: 60px;
    .imgContainer {
      position: relative;
      display: flex;
      width: 100%;
      .trendImgLeft {
        width: 50%;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: fill;
          height: 100%;
        }
      }
      .trendImgRight {
        width: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .circle {
        position: absolute;
        bottom: 15px;
        left: 15px;
        img {
          // 크기를 고정px으로 하는게 더 좋은가요?
          width: 25%;
          height: 25%;
        }
      }
    }
    .descContainer {
      margin-top: 10px;
      line-height: normal;
      .mainTitle {
        font-size: 32px;
        font-weight: 900;
      }
      .showAll {
        a {
          text-decoration: none;
          color: lightgray;
        }
        margin-top: 10px;
        cursor: pointer;
        font-weight: 900;
        font-size: 18px;
      }
    }
  }
}
