.categoryDetail {
  display: flex;
  // justify-content: center;
  width: 1180px;
  margin: 154px auto 0 auto;
  font-family: Helvetica, Arial, Apple SD Gothic Neo, Nanum Gothic,
    Malgun Gothic, DotumChe, Dotum, sans-serif;

  .mainContainer {
    margin-left: 20px;
  }
}
