.SignUp {
  // background-image: url(./images/loginbackground.jpg);
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  height: 100%;

  .main {
    display: flex;
    font-size: 62.5%; //10px = 1rem
    width: 640px;
    height: 600px;
    padding: 30px 20px 24px 20px;
    border: 0px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;

    .leftMain {
      .nav {
        width: 212px;
        height: 195px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-my-picture {
          width: 140px;
          height: 140px;
        }

        .nav-choice-picture {
          width: 110px;
          height: 36px;
          margin-top: 20px;
          font-size: 14px;
          font-weight: 700;
          background-color: white;
          color: gray;
          border: 1px solid #c9cdd2;
          border-radius: 5px;
        }
      }
    }

    .rightMain {
      & {
        margin: 0 0 0 20px;
      }

      .rightMain-info {
        & {
          margin: 0 0 20px 0;
        }

        .facebook-information {
          width: 368px;
          height: 44px;
          margin: 0 0 20px 0;
          border-radius: 0.5rem;
        }

        .id {
          width: 368px;
          height: 40px;
          border: 1px solid #c9cdd2;
          border-bottom-color: white;
          border-top-right-radius: 0.5rem;
          border-top-left-radius: 0.5rem;
          display: flex;
          padding: 4px;
          background-color: white;

          div {
            padding: 5px 0 5px 0;
            display: flex;
            align-items: center;
            width: 95px;
            margin: 0 0 0 3px;

            p {
              font-size: 13px;
              width: 100%;
              margin: 0 auto;
            }
          }

          .id-input {
            width: 100%;
            margin-left: 10px;
            font-size: 12px;
            text-indent: 5px;
            border: 0px solid black;
          }
        }

        .pw {
          width: 368px;
          height: 40px;
          border: 1px solid #c9cdd2;
          display: flex;
          padding: 4px;
          border-bottom-color: white;
          background-color: white;

          div {
            // padding: 5px 0 5px 0;
            display: flex;
            align-items: center;
            width: 95px;
            margin: 0 0 0 3px;

            p {
              font-size: 13px;
              width: 100%;
              margin: 0 auto;
            }
          }

          .pw-input {
            width: 100%;
            margin-left: 10px;
            text-indent: 5px;
            border: 0px solid black;
            font-size: 12px;
            text-indent: 5px;
          }
        }

        .pwCh {
          width: 368px;
          height: 40px;
          border: 1px solid #c9cdd2;
          display: flex;
          padding: 4px;
          border-bottom-color: white;
          background-color: white;

          div {
            padding: 5px 0 5px 0;
            display: flex;
            align-items: center;
            width: 95px;
            margin: 0 0 0 3px;

            p {
              font-size: 13px;
              width: 100%;
              margin: 0 auto;
            }
          }

          .pwCh-input {
            width: 100%;
            margin-left: 10px;
            text-indent: 5px;
            border: 0px solid black;
            font-size: 12px;
          }
        }

        .nick-name {
          width: 368px;
          height: 40px;
          border: 1px solid #c9cdd2;
          display: flex;
          padding: 4px;
          border-bottom-color: white;
          background-color: white;

          div {
            padding: 5px 0 5px 0;
            display: flex;
            align-items: center;
            width: 95px;
            margin: 0 0 0 3px;

            p {
              font-size: 13px;
              width: 100%;
              margin: 0 auto;
            }
          }

          .nick-name-input {
            width: 100%;
            margin-left: 10px;
            text-indent: 5px;
            border: 0px solid black;
            font-size: 12px;
          }
        }

        .email {
          width: 368px;
          height: 40px;
          border: 1px solid #c9cdd2;
          padding: 4px;
          display: flex;
          padding: 4px;
          border-bottom-color: white;
          background-color: white;

          div {
            padding: 5px 0 5px 0;
            display: flex;
            align-items: center;
            width: 95px;
            margin: 0 0 0 3px;

            p {
              font-size: 13px;
              width: 100%;
              margin: 0 auto;
            }
          }

          .email-input {
            width: 100%;
            margin-left: 10px;
            text-indent: 5px;
            border: 0px solid black;
            font-size: 12px;
          }
        }

        .radio {
          width: 368px;
          height: 40px;
          border: 1px solid #c9cdd2;
          display: flex;
          border-bottom-color: white;
          background-color: white;

          div {
            padding: 10px 0 5px 0;
            display: flex;
            align-items: flex-start;
            width: 78px;
            margin: 0 0 0 7px;

            p {
              font-size: 13px;
              width: 100%;
              margin: 0 auto;
            }

            label {
              font-size: 13px;
              text-align: center;
            }
            input {
              margin-right: 8px;
              height: 13px;
              width: 13px;
            }
          }
        }

        .birth {
          width: 368px;
          height: 40px;
          border: 1px solid #c9cdd2;
          border-bottom-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          padding: 4px;
          display: flex;
          background-color: white;

          div {
            padding: 5px 0 5px 0;
            display: flex;
            align-items: center;
            width: 85px;
            margin: 0 0 0 3px;
            p {
              font-size: 13px;
              width: 100%;
              margin: 0 auto;
            }
          }

          .year {
            width: 82px;
            height: 25px;
            margin-right: 20px;
            margin-top: 2px;
            font-size: 13px;
          }

          .month {
            width: 50px;
            height: 25px;
            margin-right: 20px;
            margin-top: 2px;
            font-size: 13px;
          }

          .day {
            width: 50px;
            height: 25px;
            font-size: 13px;
            margin-top: 2px;
          }
        }
      }

      .rightMain-agree-form {
        .agree-form {
          .agree-form-one {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }

            p {
              font-size: 14px;
              width: 100%;
              font-weight: 800;
            }
          }

          .agree-form-two {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }

            p {
              font-size: 14px;
              width: 100%;
            }
          }

          .agree-form-three {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }

            p {
              font-size: 14px;
              width: 100%;
            }
          }

          .agree-form-four {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }

            p {
              font-size: 14px;
              width: 100%;
            }
          }

          .agree-form-five {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }

            p {
              font-size: 14px;
              width: 100%;
            }
          }
        }
      }
    }

    .alldone {
      & {
        display: flex;
        flex-direction: row-reverse;
      }

      & :hover {
        transform: scale(1.1);
        padding: 10px;
        border: 0px solid white;
        cursor: pointer;
      }

      .alldone-button {
        width: 130px;
        height: 35px;
        border-radius: 0.5rem;
        background-color: #4adaaf;
        color: white;
        font-size: 14px;
        font-weight: 800;
        border: 0px solid white;
      }
    }
  }
}
