@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

.jumbotron {
  width: 940px;
  height: 530px;
  // margin: 138px auto 100px auto;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
  position: relative;
  .item {
    position: relative;
    .jumboImg {
      position: relative;
      width: 940px;
      height: 530px;
      object-fit: fill;
    }
    .adsText {
      position: absolute;
      top: 100px;
      right: 100px;
      z-index: 2;
      line-height: normal;
      .mainTitle {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-top: 20px;
      }
      .subTitle {
        font-size: 18px;
      }
      .white {
        color: #ffffff;
      }
    }
  }
  .sliderBox {
    position: absolute;
    display: flex;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    width: 160px;
    height: 60px;
    background-color: #26282b;
    .sliderLeft {
      width: 52px;
      height: 50px;

      .slideBtnLeft {
        object-fit: cover;
        width: 20px;
        transform: rotate(180deg);
        // margin-top: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .paging {
      width: 56px;
      vertical-align: middle;
      span {
        color: white;
      }
    }
    .slideBtnRight {
      object-fit: cover;
      z-index: 1000;
      top: 45%;
      width: 52px;
      height: 50px;
      right: 0px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
