.productTableContainer {
  width: 98%;
  height: auto;

  .productTable {
    width: 100%;
    height: 245px;
    border: 1px solid #e8ebed;
    border-collapse: collapse;
    margin-bottom: 35px;

    .bold {
      font-weight: 700;
    }
    thead {
      th {
        height: 31px;
        align-self: center;
        vertical-align: middle;
        background-color: #f7f8f9;
        color: #454c53;
        font-size: 12px;
        border: 1px solid #e8ebed;
      }
      .tableOrderProduct {
        width: 438px;
      }
      .width96 {
        width: 96px;
      }
    }
    tbody {
      td {
        border-bottom: 1px solid #e8ebed;
        vertical-align: middle;
      }
      .product {
        height: 154px;
        font-size: 14px;

        .orderedProductBox {
          border-left: none;

          .orderedProduct {
            display: flex;
            height: 70%;
            margin: 30px auto;

            .orderedProductLeft {
              display: flex;

              .checkboxContainer {
                margin: 0 15px;

                input {
                  width: 20px;
                  height: 20px;
                  cursor: pointer;
                  &:checked {
                    background-color: #4adaaf;
                  }
                }
              }

              .productImgContainer {
                img {
                  width: 60px;
                  height: 60px;
                }
              }
            }

            .orderedProductRight {
              .productDescContainer {
                width: 350px;
                margin-left: 10px;
                margin-bottom: 10px;

                p {
                  color: #222222;
                  text-align: left;
                  font-size: 14px;
                  font-weight: 700;
                  white-space: wrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  word-spacing: 0px;
                }
              }

              .productOptionContainer {
                margin-top: 10px;
                margin-left: 10px;

                span {
                  color: #999999;
                  font-size: 12px;
                  text-align: left;
                  margin-right: 10px;
                }
              }

              .controlQuantityContainer {
                margin-top: 20px;
                margin-left: 10px;
                border: 0.5px soild #e8ebed;

                button {
                  width: 24px;
                  height: 30px;
                  border: 1px solid #e8ebed;
                  background-color: #f7f8f9;
                  color: #26282b;
                  text-align: center;
                  opacity: 0.6;
                  cursor: pointer;
                }

                span {
                  width: 26px;
                  height: 30px;
                  padding: 6px 10px;
                  border-top: 1px solid #e8ebed;
                  border-bottom: 1px solid #e8ebed;
                  background-color: #ffffff;
                  color: #26282b;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .originPrice,
        .settlePrice,
        .shippingPrice {
          margin: auto 0;
          font-size: 14px;
          text-align: center;
        }

        .settlePrice {
          font-weight: 700;
        }

        .controlOrderBtnBox {
          text-align: center;

          .orderNowBtn {
            width: 68px;
            height: 26px;
            margin: 4px;
            border: 1px solid #00d0b1;
            border-radius: 3px;
            background-color: #00d0b1;
            color: #ffffff;
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            &:hover {
              cursor: pointer;
            }
          }

          .deleteItemBtn {
            width: 68px;
            height: 26px;
            margin: 4px;
            padding: 0 7px;
            border: 1px solid #00d0b1;
            border-radius: 3px;
            background-color: #ffffff;
            color: #00d0b1;
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .totalPrice {
        height: 60px;
        align-items: center;
        background-color: #f7f8f9;

        .amountTextBox {
          text-align: right;

          span {
            margin: auto 0;
            color: #26282b;
            font-size: 14px;
          }

          .marginRight15 {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
