table {
  .bold {
    font-weight: 700;
  }
  width: 98%;
  height: 90%;
  border: 1px solid #e8ebed;
  border-collapse: collapse;
  th,
  th {
    height: 30px;
    align-self: center;
    vertical-align: middle;
    background-color: #f7f8f9;
    color: #454c53;
    font-size: 12px;
    border: 1px solid #e8ebed;
  }
  .tableOrderProduct {
    width: 438px;
  }
  .width96 {
    width: 96px;
  }

  .orderedProductBox {
    border: 1px solid red;
  }
  td {
    border: 1px solid #e8ebed;
    display: table-cell;
    font-size: 14px;
    .checkbox {
      width: 20px;
      border-right: none;
    }
    input {
      width: 20px;
      height: 20px;
      border: 1px solid #c9cdd2;
      color: #26282b;
      cursor: pointer;
    }
    button {
      // width: 20px;
    }
  }
  .product {
    height: 100px;
    vertical-align: middle;
    .checkbox {
    }
    .orderedProductBox {
      .orderedProduct {
        display: flex;
        height: 70%;
        border: 1px solid red;
        margin: 30px auto;
        .orderedProductLeft {
          border: 1px solid red;
          img {
            width: 58px;
            height: 58px;
          }
        }
      }
    }
    .controlOrderBtnBox {
      .orderNowBtn {
        width: 68px;
        height: 26px;
        border: 1px solid #00d0b1;
        border-radius: 3px;
        margin: 4px;
        padding: 0 7px;
        background-color: #00d0b1;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        &:hover {
          cursor: pointer;
        }
      }
      .deleteItemBtn {
        width: 68px;
        height: 26px;
        border: 1px solid #00d0b1;
        border-radius: 3px;
        margin: 4px;
        padding: 0 7px;
        background-color: #ffffff;
        color: #00d0b1;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .totalPrice {
    background-color: #f7f8f9;
    height: 71px;
    text-align: right;
    vertical-align: bottom;
    span {
      margin: auto 0;
      color: #26282b;
    }
  }
}
