@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://spoqa.github.io/spoqa-han-sans/ko-KR/");

.jumbotronContainer {
  width: 1280px;
  height: 675px;
  margin: 138px auto 100px auto;
  // margin-top: 138px;
  // margin-bottom: 100px;
  // object-fit: fill;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
  .item {
    .jumboImg {
      width: 1280px;
      height: 675px;
      object-fit: fill;
    }
    position: relative;
    .adsText {
      position: absolute;
      top: 100px;
      right: 100px;
      z-index: 2;
      line-height: normal;
      .mainTitle {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-top: 20px;
      }
      .subTitle {
        font-size: 18px;
      }
      .white {
        color: #ffffff;
      }
    }
    .slideBtnLeft {
      position: absolute;
      object-fit: cover;
      z-index: 1000;
      top: 45%;
      width: 50px;
      height: 50px;
      left: 0px;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
    .slideBtnRight {
      position: absolute;
      object-fit: cover;
      z-index: 1000;
      top: 45%;
      width: 50px;
      height: 50px;
      right: 0px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
